@charset "UTF-8";

body {
    background: rgb(3, 3, 36);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: aliceblue;
}

h1 {
    color: #e9ec03;
}

p{
    text-align: justify;
}

a{
    color: antiquewhite;
}